/* global */
* {
    box-sizing: border-box;
    margin: 0;

}

body {
    overflow: hidden;
}

/* Variables */
:root {
    /* texto */
    --texto-gris-oscuro: #122048;
    --texto-gris-medio: #2E395B;
    --texto-gris-claro: #E0E0E5;
    --texto-gris-blanco: #FFFFFF;

    /* background */
    --fondo-blanco: #FFFFFF;
    --fondo-gris-claro: #F6F4F6;
    --fondo-gris: #E5E1E6;
    --fondo-gris-medio: #C0C0CA;
    --fondo-gris-oscuro: #808194;

    /* actions */
    --action-azul: #A0ADD8;
    --action-azul-claro: #7B88B7;

    /* success */
    --success-verde: #00B0AD;
    --success-verde-claro: #00B0AD;

    /* warning */
    --warning-amarillo: #FFB656;
    --warning-amarillo-claro: #FFB65690;

    /* error */
    --error-rojo: #FE7171;
    --error-rojo-claro: #FE7171;
}

/* Main Container */
.container {
    display: flex;
    align-items: center;
}

/* Left Main Form Container */
.left-container {
    /* size */
    width: 50%;
    height: 100vh;

    /* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    /* size */
    width: 65%;
    height: 65vh;
    background-color: var(--fondo-blanco);
    box-shadow: 4px 4px 30px #54545451;

    border-radius: 12px;

    display: flex;
    justify-content: center;
}

form {
    /* size */
    width: 90%;
    height: 100%;

    /* colors */

    /* margin: 48px 24px; */

    /* shadow */

    
}

form h2 {
    /* text styles */
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--texto-);
    
    margin-top: 48px ;
    margin-bottom: 18px;
    
    text-shadow: 0px 4px 4px #00000040;
}

.left-container h1{
    /* position */
    position: absolute;
    left: 2%;
    top: 4%;
    
    
    /* text styles */
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #808194;
}

.btn-container {
    /* size */
    width: 90%;
}

.btn-container button {
    cursor: pointer;
}

.btn-container button[type="button"] {
    /* size */
    width:  -webkit-fill-available;

    gap: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--fondo-blanco);
    border: 1px solid #E0E0E5;
    border-radius: 8px;

    padding: 10px;
    
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.btn-container button[type="submit"] {
    /* size */
    width:  -webkit-fill-available;

    background-color: #4F90F0;
    border: 1px solid #E0E0E5;
    border-radius: 4px;

    padding: 10px;
    
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;

    margin-bottom: 18px;
}

.btn-container i {
    width: 24px;

}



.form-control {
    width: 90%;
    position: relative;
    margin-bottom: 18px;
}

form span {
    margin-bottom: 8px;
}

.form-control > input {
    width: -webkit-fill-available;
    
    border: 1px solid #808194;
    outline: none;

    padding: 13px;
    border-radius: 8px;
}

.form-control > i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Right Main Image Container */
.right-container {
    /* size */
    width: 50%;
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.right-container img {
    /* size */
    height: 95vh;
    width: 90%;

    /* position */
    position: absolute;
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    right: 4%;
}